In [6]:
#################### INTRODUCTION TO PYTHON ####################

In [7]:
# Printing to the screen
# Variables
# Lists
# Strings
# Dictionaries
# Operators
# If statement and loops
# Functions
# Files

In [2]:
############### PRINTING ###############

In [4]:
print("Hello", end="\n\n\n")
print("World")

Hello


World

In [5]:
print("Hello", "World", sep="!")

Hello!World

In [7]:
print("Hello", end=" ")
print("World", end="!")

Hello World!

In [8]:
print("Hello", end="\n")
print("World")

Hello
World

In [20]:
############### VARIABLES ###############

In [9]:
my_variable_integer = 100       #an integer assignment
# like in R, my_variable_integer <-- 100
my_variable_float = 1000.0      #a floating point
my_variable_string = "John"     #a string

In [10]:
print(my_variable_string)

John

In [11]:
my_variable_string

'John'

In [12]:
print(type(my_variable_string))

<class 'str'>

In [13]:
#another class is 'bool' which is a boolean: true or false

In [14]:
# Example 1 
x = 10
y = 12.5
z = x*y
print(z)

125.0

In [ ]:
#Do not use these variable names in Python
#and	assert	break	exec	not	lambda	yield	with
#while	try	raise	print	pass	or	is	win
#import	if	global	from	for	finally	else	elif
#del	def	continue	class	return	True	False	except

In [15]:
# Example 2
number_of_students = 30
number_of_teachers = 12
number_of_students_and_teachers = number_of_students + number_of_teachers
print(number_of_students_and_teachers)

42

In [16]:
# do not use the built in green python methods as variable names

In [17]:
# change this code
mystring = "LovePython"
myfloat = 6.0
myint = 4

# testing code
if mystring == "LovePython":
    print("String: %s" % mystring)

String: LovePython

In [18]:
my_name = "Fuat"
print("Let's talk about %s." %my_name)

my_height = 1.78
print("He's %f meters tall." % my_height)

my_weight = 71
print("He's %i kg heavy." % my_weight)

Let's talk about Fuat.
He's 1.780000 meters tall.
He's 71 kg heavy.

In [19]:
############### LISTS ###############

In [21]:
# empty list
my_list = []

# list of integers
my_list = [2, 5, 8, 9]

# list of strings
my_list = ['Monday','Tuesday', 'Wednesday', 'Thursday', 'Friday' ]

In [10]:
# Declare a list of prime number
primes = [2,3,5,7,9,11]

In [23]:
# Check the type of the variable
type(primes)

list

In [24]:
#See the content of a list
print(primes)

[2, 3, 5, 7, 9, 11]

In [25]:
# Check the length of a list
len(primes)

6

In [26]:
# Accesss on element
primes[0]

2

In [17]:
# Modify an element
primes[5] = 13
primes

[2, 3, 5, 7, 9, 13]

In [18]:
# Adding an element
primes.append(17)
primes

[2, 3, 5, 7, 9, 13, 17]

In [19]:
# Deleting an element

del primes[6]
primes

[2, 3, 5, 7, 9, 13]

In [23]:
primes_copy = primes.copy()

# add one element to primes
primes_copy.append(23)

print('primes:', primes, ', primes_copy:', primes_copy)

primes: [2, 3, 5, 7, 9, 13] , primes_copy: [2, 3, 5, 7, 9, 13, 23]

In [24]:
my_list = ['red', 'blue', 'yellow']

## insert 'black' at index 0
my_list.insert(0, 'black')

## add list of elems at end
new_list = ['gray', 'orange']

my_list.extend(new_list)
print(my_list)

['black', 'red', 'blue', 'yellow', 'gray', 'orange']

In [25]:
### EXERCISES ###

In [22]:
#1# sum all items in a list

x = [3,4,5,17,23]

total = sum(x)

print(total)

52

In [34]:
#2# to get the largest and smallest number from a list

maximum = max(x)

minimum = min(x)

print('maximum: ', maximum, 'minimum: ', minimum, sep="\n")

maximum:
23
minimum:
3

In [29]:
#3# list of integer number less than 10 and call it x

# syntax: range(start, stop, step)
# x = [range(1,10,1)] ==> without the *, it would just give [range(1, 10)]

x = [*range(1,10,1)]     
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
############### STRINGS ###############

In [39]:
a = "We Love Python!"

In [41]:
#Example: split the variable a to 3 words
print(a.split(' '))

['We', 'Love', 'Python!']

In [32]:
# Example: append a string to another string
a = "We Love Python!"
b = "Python Loves Us!"
c = a + " " + b
print(c)
len(a)

We Love Python! Python Loves Us!

15

In [43]:
a*3

'We Love Python!We Love Python!We Love Python!'

In [46]:
### SLICING AND INDEXING ###

In [42]:
# variable a -->  W e " L o v e " P y  t h  o  n  !
# index      -->  0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [35]:
# Example: access the character "!" in the variable a 
print(a[14])
print(a[-1])

!
!

In [36]:
# Example: print only "Love" part of the variable a
a = "We Love Python"
print(a[3:7])

Love

In [37]:
# Example: slice the variable a from index 3 to the end
print(a[3:])

Love Python

In [38]:
# Example: slivce the variable a from the beginning till the index 7
print(a[:7])

We Love

In [39]:
# Example: access every third character
print(a[0:14:3])

WLeyo

In [ ]:
############### DICTIONARIES ###############

In [41]:
# dic = {
#            <key1>:<value1>,
#            <key2>:<value2>,
#            .
#            .
#            .
#            <keyn>:<valuen>,
#            }

In [45]:
Movie = {
    "name" : "Twin Peaks",
    "director" : "David Lynch",
    "year" : 1990,
}

In [46]:
Movie.update?

In [50]:
# keys() return all the keys in the dictionary
print('all the keys in the Movie dictionary:', Movie.keys())

all the keys in the Movie dictionary: dict_keys(['name', 'director', 'year'])

In [51]:
# items( returns a list of the tuple pairs (Keys, Value) in the dictionary)
print('all the items in the Movie dictionary:', Movie.values())

all the items in the Movie dictionary: dict_values(['Twin Peaks', 'David Lynch', 1990])

In [ ]:
### EXERCISES ###

In [52]:
#1# use the get method to pring the value of the "name" of the Movie dictionary
Movie.get("name")

'Twin Peaks'

In [67]:
#2# change the year from 1990 to 1991
Movie.update({"year":1991})

In [68]:
#3# add the key/value pair "genre": "mystery/drama/horror" to the Movie dictionary

Movie.update({"genre":"Mystery/drama/horror"})

In [69]:
#4# use the pop method to remove "genre" from the movie dictionary and return to screen

Movie.pop("genre")

'Mystery/drama/horror'

In [71]:
Movie

{'name': 'Twin Peaks', 'director': 'David Lynch', 'year': 1991}

In [73]:
### SETS AND TUPLES ###

# Tuples are used to store multiple items in a single variable. A tuple is a collection which is ordered and unchangeable.
# However, sets are unordered. Set elements are unique. Duplicate elements are not allowed.

In [74]:
sample_set = set((3,4,5,6))

In [75]:
type(sample_set)

set

In [76]:
x = [0,3,7,3,7,4,4,5]
set(x)

{0, 3, 4, 5, 7}

In [79]:
string = "Learning Python is very easy!"

print(list(string))
print(set(string))

['L', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'v', 'e', 'r', 'y', ' ', 'e', 'a', 's', 'y', '!']
{'n', 'i', 'a', 't', 'L', 'r', 'y', 'P', 'h', 'o', '!', ' ', 'g', 'v', 's', 'e'}

In [81]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [82]:
print(len(thistuple))

3

In [83]:
############### OPERATORS ###############

In [85]:
## Arithmetic operators

# Addition:       a + b
# Subtraction:    a - b
# Multiplication: a * b
# Division:       a / b
# Power:          a ** n
# Modulus:        a % b   <-- returns remainder of division
# Floor division: a // b  <-- divides and rounds down to nearest whole number

In [53]:
(10//3)*3+(10%3)

10

In [54]:
## Logical operators

# not:   "not a = False"   if a = True   <-- reverses the logical state
# and:   "a and b = True"  if a = True and b = True   <-- expression is true off all of its operators are true
# or:    "a or b = True"   if a = True or b = True   <-- expression

In [87]:
## Comparison operators

# <  : less than        : a < b
# <= : less or equal    : a <= b
# >  : greater than     : a > b
# >= : greater or equal : a >= b
# == : equal            : a == b
# != : not equal        : a != b

# E.g. if we say verbally 
# “give me the results for all animals that were equal to or younger than 2 weeks”, 
# than we can translate this in a code: 
# r2 = r(age>=2)

In [55]:
a = 6
b = 7
c = 42
print(1, a == 6)
print(2, a == 7)
print(3, a == 6 and b == 7)
print(4, a == 7 and b == 7)
print(5, not a == 7 and b == 7)
print(6, a == 7 or b == 7)
print(7, a == 7 or b == 6)
print(8, not (a == 7 and b == 6))
print(9, not a == 7 and b == 6)

1 True
2 False
3 True
4 False
5 True
6 True
7 False
8 True
9 False

In [88]:
############### IF STATEMENTS AND LOOPS ###############

In [58]:
## If statement

r = 2.4
if r > 2.4:
    event = 1
elif r == 2.4:
    event = 2
else:
    event = 0
print('event is', event)

event is 2

In [ ]:
## Loops

for variable_name in list_of_variable_name: # initial a loop
    statement  # body

In [59]:
x = [1,2,3]

for i in x:
    print(i)

1
2
3

In [1]:
# range(start_value, stop_value, step)

for i in range(10):
    print('square of ', i, 'is', i*i)

square of  0 is 0
square of  1 is 1
square of  2 is 4
square of  3 is 9
square of  4 is 16
square of  5 is 25
square of  6 is 36
square of  7 is 49
square of  8 is 64
square of  9 is 81

In [57]:
my_list = [0,3,5,4,2,7]

for i in range(len(my_list)):
    j = my_list[i]
    print('square of ',j, ' is ', j*j)

square of  0  is  0
square of  3  is  9
square of  5  is  25
square of  4  is  16
square of  2  is  4
square of  7  is  49

In [91]:
### EXERCISES ###

# count the number of even and odd numbers
sample_list = [2,3,4,5,8,2,9]

even_count = 0
odd_count = 0

for i in sample_list:
    if i%2 == 0:
        even_count = even_count +1
    else:
        odd_count = odd_count +1

print(even_count, odd_count)

4 3

In [2]:
# count the number of even and odd numbers when there is a string
sample_list = [2,3,4,5,8,2,9,"ahmet"]

even_count = 0
odd_count = 0

for i in sample_list:
    if type(i)==str:
        print("ERROR")
    elif:
        if i%2 == 0:
            even_count = even_count +1
        else:
            odd_count = odd_count +1

print(even_count, odd_count)

SyntaxError: invalid syntax (1796068465.py, line 10)

In [106]:
# get the Fibonacci series between 0 and 50

fib = [*range(2)]

fib1 =fib[0]
fib2 = fib[1]

for i in range(50):
    fib.append(fib1 + fib2)
    fib1=fib[i+1]
    fib2=fib[i+2]
    
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074]

In [109]:
# sum values in x

x = [3,4,5,17,23]

sum_x = 0

for i in x:
    sum_x = sum_x + i
    
print(sum_x)

52

In [110]:
# sum in loop

x = [3,4,5,17,23]

sum_x = 0

for i in x:
    sum_x = sum_x + i
    print(sum_x)

3
7
12
29
52

In [111]:
# get max and min

maximum = x[0]

for i in x:
    if maximum < i: 
        maximum = i
    else:
        continue

print(maximum)

23

In [6]:
x = []

for i in range(10):
    print(x)

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

In [115]:
i = 0

while i<5:
    i=i+1
    print(10*i)

10
20
30
40
50

In [114]:
## INPUTS ##

In [116]:
print("How old are you?")
age = float(input()) # what happends if we don't include float: gives you a box
print("How tall are you?")
heigh = float(input())

How old are you?
25
How tall are you?
160

In [1]:
############### FUNCTIONS ###############

In [2]:
def greeting(name):
    return 'Hello' + name
print(greeting('Fuat'))

HelloFuat

In [5]:
def greeting(name): #function header
    
    
    # docstring: explanation of what function is about. for example here:
    """Returns a greeting
    given a name."""
    
    
    # ----- body of the function ------ #
    message = "Hello lovely " + name + ".\n"
    message = message + "You are the best!"
    # -------------------------------- #
    
    
    return message # return statement

print(greeting('Fuat'))

Hello lovely Fuat.
You are the best!

In [7]:
def sum_two_numbers(a,b):
    """Returns sum of two value"""
    return a + b

print(sum_two_numbers(25,12))
print(sum_two_numbers('Fuat','Kina'))

37
FuatKina

In [8]:
##### EXERCISES (Functions) #####

In [11]:
### write a python function to find the max of three numbers

def max_of_three(a,b,c):
    x = max(a,b)
    y = max(x,c)
    return y

print(max_of_three(3,27,12))

27

In [12]:
### write a python function to multiple all the numbers in a list

def multiplier(my_list):
    multiplier = 1
    for ele in my_list:
        multiplier = multiplier * ele
    return multiplier

sample_list = [8,2,3,-1,7]

print(multiplier(sample_list))

-336

In [16]:
### write a python function that takes a list and returns a new list with unique elements of the first list ###

def unique(my_list):
    dynamic_list = my_list.copy()
    unique_list = []
    
    for ele in my_list:
        if dynamic_list.count(ele) > 1:
            dynamic_list.remove(ele)
        else:
            unique_list.append(ele)
    return unique_list, dynamic_list
    
sample_list = [1,1,3,3,3,3,4,4,4,5,7,7,7]

print(unique(sample_list))

([1, 3, 4, 5, 7], [1, 3, 4, 5, 7])

In [21]:
def unique(my_list):
    unique_list = []
    
    for ele in my_list:
        if my_list.count(ele) == 1:
            unique_list.append(ele)
        else:
            continue
            
    return unique_list
    
sample_list = [1,1,3,3,3,3,4,4,4,5,7,7,7]

print(unique(sample_list))

[5]

In [25]:
#### write a python function that takes a number as a parameter and check the number is prime or not



def is_prime(x):
    is_prime = True
    if x == 1:
        is_prime = False
    elif x == 2:
        is_prime = True
    else:
        for i in range(2,x):
            if x%i == 0: 
                is_prime = False
                break ### bolebildigini buldugunda looptan cikmasi icin 
            else:
                is_prime = True
                
    return is_prime

is_prime(21)

False

In [ ]:
############### FILES ###############

In [27]:
# define the file name
filename = 'example.txt'

# create and open the file to modify. 'w' stands for writing mode
f = open(filename, 'w')

# write in the open file f
f.write("6 words story:\n")
f.write( "For sale: baby shoes, never worn.")

# close the file
f.close()

In [29]:
# define the file name
filename = 'example.txt'

# open the file to read. 'r' stands for writing mode
f = open(filename, 'r')

# read the content of the file
data= f.read()

# close the file
f.close()

print(data)

6 words story:
For sale: baby shoes, never worn.

In [30]:
# create a list where each element is one line of our file
data.splitlines()

['6 words story:', 'For sale: baby shoes, never worn.']

In [34]:
# count the number of words in the second line

# defining the second line a s anew variable
second_line = data.splitlines()[1]
print(second_line)

#seperate all the words
words_second_line = second_line.split(' ')
print(words_second_line)
print(len(words_second_line))

For sale: baby shoes, never worn.
['For', 'sale:', 'baby', 'shoes,', 'never', 'worn.']
6

In [2]:
pip install pandas

Requirement already satisfied: pandas in ./opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in ./opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in ./opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install matplotlib

Requirement already satisfied: matplotlib in ./opt/anaconda3/lib/python3.9/site-packages (3.5.1)
Requirement already satisfied: pillow>=6.2.0 in ./opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (9.0.1)
Requirement already satisfied: numpy>=1.17 in ./opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (1.21.5)
Requirement already satisfied: packaging>=20.0 in ./opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in ./opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: cycler>=0.10 in ./opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in ./opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in ./opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in ./opt/anaconda3/lib/python3.9/site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in ./opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4) (2.3.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install nltk

Requirement already satisfied: nltk in ./opt/anaconda3/lib/python3.9/site-packages (3.7)
Requirement already satisfied: tqdm in ./opt/anaconda3/lib/python3.9/site-packages (from nltk) (4.64.0)
Requirement already satisfied: joblib in ./opt/anaconda3/lib/python3.9/site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in ./opt/anaconda3/lib/python3.9/site-packages (from nltk) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in ./opt/anaconda3/lib/python3.9/site-packages (from nltk) (2022.3.15)
Note: you may need to restart the kernel to use updated packages.